*{
	margin: 0;
	padding: 0;
	border: 0;
}

*, 
*:before, 
*:after{
	box-sizing: border-box;
}

article, 
aside, 
details, 
main, 
figcaption, 
figure, 
hgroup,
menu,
nav,
header, 
footer, 
section{
	display: block;
}

body{
	font-family: $font_main, Arial, Tahoma, sans-serif;
	line-height: 1em;
	font-weight: $font_main_weight;
	// min-height: 100vh;
}


input::-ms-clear {
	display: none;
}
input, textarea{
	&:focus, &:active{
		outline: none;
	}
}


button {
	font-family: inherit;
	cursor: pointer;
	outline: none;
	background: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

ul, ol{
  list-style: none;
}